<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{MAIN_TITLE}}</title>
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body><br><center><h1> <img src="{{ url_for('static', filename='img/YoloSpam.png') }}" alt="Yolo Spam"> </h1></center><br>
    <form action="/" method="post" class="form-group">
  <div>
    <label for="url">URL:</label>
    <input class="form-control" type="text" id="url" name="url" placeholder="https://onyolo.com/xxx?w=xxx">
  </div>
  <div>
    <label for="limit">How many:</label>
    <input type="text" id="limit" name="limit" value="20" class="form-control">
  </div>
  <div>
    <label for="msg">Message:</label>
    <textarea class="form-control" id="msg" name="message" placeholder="Message">Cringe</textarea>
</div><br>
  <input class="btn btn-primary" type="submit" value="Submit"/>
</form>
</body>
</html>
